@import './variables';
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif !important;
}

h1 {
    letter-spacing: 1px;
    margin: 0;
    color: $navy;
}

h3 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin: 40px 0 10px;
    color: $navy;
}

h5 {
    margin: 0;
    text-transform: uppercase;
    color: $navy;
}